@import "../../css-config/mixins.scss";

.container{
    display: block;
    h2{
        text-align: center;
        font-size: xx-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 100;
        text-decoration: underline;
        margin-top: 20px;
    }
    .videos{
        margin: 20px;
        display: flex;
        column-gap: 50px;
        margin: auto;
        padding: 100px;
        text-align: center;
        @include xs{
            display: block;
            padding: 0px;
            margin-top: 20px;
        }

        video{
            width: 100%;
            height: auto;
            max-width: 640px;
        }
    }
}